body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    color: #fff;
}

.svetofor {
    width: 110px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid black;
    border-radius: 30px;
    background: rgb(28, 27, 29);
}

.light {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 50%;
    background: #000;
}


.primary {
    background:green;
}
.danger {
    background: red;
}
.warning {
    background: orange;
}
